<!--- Header and nav template site-wide -->

<header>

    <nav class="group">
	<a href="{{site.baseurl}}/">Matthias Frenzl</a>
  <a href="{{site.baseurl}}/about/">About</a>
	<a href="{{site.baseurl}}/page/">articles</a>
  <a href="{{site.baseurl}}/resources/">resources</a>
  <a href="{{site.baseurl}}/css/print.css"></a>

  <a href="//www.twitter.com/@MatthiasFrenzl"><span class="icon-twitter"></span></a>
  <a href="//github.com/MatthiasFrenzl"><span class="icon-github"></span></a>
  <a href="//linkedin.com/in/matthiasfrenzl/"><span class="icon-linkedin"></span></a>


	</nav>
</header>
